.data_field {
  margin-bottom: 15px;
  & input {
    min-width: 300px;
    font-size: 1.1rem;
    padding: 5px 10px;
  }
  & select {
    min-width: 300px;
    font-size: 1.1rem;
    padding: 5px 10px;
  }
}
